html {
  font-size: 62.5%;
}

:root {
  --gray-background: #373c4f;
  --white-page-calendar:#f9f9f9;
  --lessdark-gray:#393e51;
  --calendar-shadow:#94979f;
  --font-on-white:#363a40;
  --font-on-darkgrey:#dee0e6;
  --highlight-in-grey: faelinear-gradient(#b38ad6,#373c4f);
  --highlight-in-white: #b38ad6;
  --general-background: #e9e8e4;

}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.calendar {
  width: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--font-on-white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.3rem;
  color: var(--font-on-white);
  
}

.weekdays {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.weekdays span {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
}

.presentDay {
  background-color: red;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

button:hover {
  background-color: #0056b3;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.1rem;
}



.day {
  padding: 1rem;
  text-align: center;
  border: 0.1rem solid #eee;
  color: var(--font-on-white);
  transition: 0.5s;
}

.day:hover {
  background-color: var(--highlight-in-white);
  color: var(--lessdark-gray);
  opacity: 0.5;
}

.day:active {
  background-color: var(--highlight-in-white);
  color: var(--font-on-darkgrey);
  font-size:large;
  font-weight: bold;
  box-shadow: 0.3 0.3 0.3 var(--calendar-shadow);
}

/* .event {
  background-color: #28a745;
  color: #fff;
  border-radius: 3px;
  padding: 2px;
} */

/* Modal New Event */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.active {
  display: block;
}

.modal__container{
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.modal__close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal__close:hover,
.modal__close:focus {
  color: black;
  text-decoration: none;
}

.modal__form {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.hide {
  display: none;
}

.event-day {
  background-color: #ffc107; /* O cualquier otro color que desees */
  color: #000;
  font-weight: bold;
}

.event-text {
  font-size: 12px;
  color: #ffffff; /* color del texto del evento */
  background-color: #3498db; /* color de fondo del texto del evento */
  padding: 2px 4px;
  border-radius: 4px;
  margin-top: 2px;
}

